footer {
  height: 400px;
  background-color: #121213;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 85px;
    left: 50px;
    width: 1px;
    height: 292px;
    background-color: var(--p-color);
  }
  &::after {
    content: "";
    position: absolute;
    top: 350px;
    left: 30px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--btn-color);
  }

  .container {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    ul {
      margin-top: 122px;
      text-align: center;
      li {
        margin-bottom: 20px;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 16px;
        position: relative;

        &:hover {
          opacity: 1;
          color: var(--btn-color);
          transition: all 0.45s;
        }
      }
      .end {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          margin: 8px;
          position: relative;
          opacity: 0.9;
          color: var(--btn-color);
          &:hover {
            opacity: 1;
            transition: all 0.45s;
          }
        }
      }
    }
  }
}
